*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #3d7fa1;
  --secondary-color: #333;
  --dark:#1c212e

}

body{
  min-height: 100vh;
  max-width: 100vw;
}

*::-webkit-scrollbar {
  display: none;
}


.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: start;
}

.Render{
  margin: 1rem;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  opacity: 0.9;
}

.select-color{
  width: 100%;
  height: 120px;
  background-color: var(--dark);
  border-radius: 7px;
  overflow: hidden;
}

.main{
  width: 100%;
  height: 220px;
  background-color: var(--dark);
  border-radius: 7px;
  overflow: hidden;
}

.payment{
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

#text-payment{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;

}

.exit{
  width: 100%;
  height: 80px;
  background-color: var(--dark);
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

#text-exit{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}